*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #222;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock{
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer-clock-face{
    width: 80vh;
    height: 80vh;

    display: flex;
    justify-content: center;

    position: absolute;
}
.inner-clock-face{
    display: flex;
    justify-content: center;
}

/* design the hands */
.hand{
    position: absolute;
    transform-origin: 50% 100%;
    bottom: 50%;
}
.hour-hand{
    height: 25%;
    width: 8px;
    background-color: black;
}
.min-hand{
    height: 30%;
    width: 8px;
    background-color: black;
}
.second-hand{
    height: 35%;
    width: 1px;
    background-color: red !important;
}

/* design for marking 12, 9, 6, 3 */
.marking{
    position: absolute;
    font-size: 8rem;
}
.marking-one{
    left: 50%;
    top: 7%;
    transform: translateX(-50%);
}
.marking-two {
    left: 90%;
    top: 50%;
    transform: translate(-100%, -50%);
}
.marking-three {
    left: 50%;
    top: 93%;
    transform: translate(-50%, -100%);
}
.marking-four {
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}


/* side text */
.side-text{
    position: absolute;

    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;  
    
    font-size: 4rem;
}
.left-text{
    left: 3vw;
}
.right-text{
    right: 3vw;
}


/* design for mobile device */
@media only screen and (max-width: 600px) {
    .marking {
        font-size: 5rem;
    }

    .outer-clock-face {
        width: 80vw;
        height: 80vw;
    }
}

/* responsible design for the side text */
@media only screen and (max-width: 800px) {
    .side-text {
        display: none;
    }
}